<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}XtreamWayz{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="alternate" type="application/atom+xml" title="News Feed" href="{{ path('feed.xml') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/core.min.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    <header>
        <nav class="navbar navbar-light container">
            <a class="navbar-brand" href="{{ path('home') }}">XtreamWayz</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('code') }}">Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/xtreamwayz">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="app-hero container-center">
        <div class="app-hero-content text-xs-center">
            <h1 class="app-hero-title">{{ block('title') }}</h1>
            <p class="app-hero-text">{% block subtitle %}{% endblock %}</p>
        </div>
    </div>

    <div class="app-content">
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="app-footer">
        <div class="container">
            <ul class="list-inline text-xs-center pull-md-left">
                <li class="list-inline-item">
                    <i class="icon icon-twitter"></i>
                    <a href="https://twitter.com/xtreamwayz" title="Contact me on Twitter">
                        @xtreamwayz
                    </a>
                </li>
                <li class="list-inline-item">
                    <i class="icon icon-github"></i>
                    <a href="https://github.com/xtreamwayz" title="Follow me on GitHub">
                        GitHub
                    </a>
                </li>
                <li class="list-inline-item">
                    <i class="icon icon-rss"></i>
                    <a href="{{ path('feed.xml') }}" title="XtreamWayz News Feed">
                        News Feed
                    </a>
                </li>
            </ul>
            <p class="pull-md-right text-xs-center text-md-right">
                &copy; 2005 - {{ "now"|date("Y") }} by Geert Eltink. All rights reserved.
            </p>
        </div>
    </footer>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56579105-2', 'auto');
        ga('send', 'pageview');
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>
