<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}XtreamWayz{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ asset('assets/css/core.min.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    <header>
        <nav class="navbar navbar-light container">
            <a class="navbar-brand" href="{{ path('home') }}">XtreamWayz</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://xtreamwayz.github.io/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('code') }}">Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/xtreamwayz">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="app-hero container-center">
        <div class="text-center">
            <h1 style="font-size:5vw;">{{ block('title') }}</h1>
            <p style="font-size:1.3rem; font-style:italic;">{% block subtitle %}{% endblock %}</p>
        </div>
    </div>

    <div class="app-content">
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="app-footer">
        <div class="container">
            <ul class="list-inline pull-left">
                <li>
                    <i class="icon icon-twitter"></i>
                    <a href="https://twitter.com/xtreamwayz" title="Contact me on Twitter">
                        @xtreamwayz
                    </a>
                </li>
                <li>
                    <i class="icon icon-github"></i>
                    <a href="https://github.com/xtreamwayz" title="Follow me on GitHub">
                        GitHub
                    </a>
                </li>
            </ul>
            <p class="pull-right">
                &copy; 2005 - {{ "now"|date("Y") }} by Geert Eltink. All rights reserved.
            </p>
        </div>
    </footer>
    {% block javascript %}{% endblock %}
</body>
</html>
