<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}xtreamwayz{% endblock %}</title>
    <meta name="description" content="{% block subtitle %}A web developers playground, notes, and thoughts.{% endblock %}" />
    <meta name="Author" content="Geert Eltink" />

    {% if disable_social_meta is not defined %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@xtreamwayz" />
    <meta name="twitter:title" content="{{ block('title') }}" />
    <meta name="twitter:description" content="{{ block('subtitle') }}" />
    <meta name="twitter:image" content="{{ absolute_url(asset('assets/img/logo.jpg')) }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url() }}" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:description" content="{{ block('subtitle') }}" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/img/logo.jpg')) }}" />
    <meta property="og:site_name" content="xtreamwayz" />
    <meta property="fb:admins" content="641699917" />
    {% endif %}

    <link rel="alternate" type="application/atom+xml" title="News Feed" href="{{ path('feed') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/core.min.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="app" itemscope itemtype="http://schema.org/WebPage">
<header>
    <nav class="navbar navbar-light container" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <ul class="nav navbar-nav">
            <li itemprop="url">
                <a class="navbar-brand" href="{{ path('home') }}" itemprop="name">
                    <svg class="icon icon-logo" style="font-size:20px;">
                        <use xlink:href="{{ asset('assets/img/icons.svg') }}#logo"></use>
                    </svg>
                    XTREAMWAYZ
                </a>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link" href="{{ path('blog') }}" itemprop="name">Blog</a>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link" href="{{ path('code') }}" itemprop="name">Code</a>
            </li>
            <li class="nav-item" itemprop="url">
                <a class="nav-link" href="{{ path('contact') }}" itemprop="name">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<div class="app-hero flex-container" itemscope itemtype="http://schema.org/WPHeader">
    <div class="app-hero-content text-xs-center">
        <h1 class="app-hero-title" itemprop="headline">{{ block('title') }}</h1>
        <p class="app-hero-text" itemprop="description">{{ block('subtitle') }}</p>
    </div>
</div>

<div class="app-content">
    <main class="container" itemscope itemprop="mainContentOfPage">
        {% block content %}{% endblock %}
    </main>
</div>

<footer class="app-footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="container">
        <ul class="list-inline text-xs-center pull-md-left">
            <li class="list-inline-item">
                <svg class="icon icon-twitter">
                    <use xlink:href="{{ asset('assets/img/icons.svg') }}#icon-twitter"></use>
                </svg>
                <a href="https://twitter.com/xtreamwayz" title="Contact me on Twitter">
                    @xtreamwayz
                </a>
            </li>
            <li class="list-inline-item">
                <svg class="icon icon-github">
                    <use xlink:href="{{ asset('assets/img/icons.svg') }}#icon-github"></use>
                </svg>
                <a href="https://github.com/xtreamwayz" title="Follow me on GitHub">
                    GitHub
                </a>
            </li>
            <li class="list-inline-item">
                <a href="http://stackoverflow.com/users/2408230/xtreamwayz" title="Stack Overflow profile">
                    Stack Overflow
                </a>
            </li>
            <li class="list-inline-item">
                <svg class="icon icon-rss">
                    <use xlink:href="{{ asset('assets/img/icons.svg') }}#icon-rss"></use>
                </svg>
                <a href="{{ path('feed') }}" title="xtreamwayz Blog Feed">
                    Blog Feed
                </a>
            </li>
        </ul>
        <p class="pull-md-right text-xs-center text-md-right">
            &copy; 2005 - {{ "now"|date("Y") }} by Geert Eltink. All rights reserved.
        </p>
    </div>
</footer>
{% if ga_tracking is defined %}
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ ga_tracking }}','auto');ga('send','pageview');
</script>
{% endif %}
{% block javascript %}{% endblock %}
</body>
</html>
