---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Layout.astro';

const schema = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: 'Geert eltink',
  url: 'https://geert.elt.ink/',
  description:
    'Geert is passionate about software engineering and leading teams. He has a strong background in software development and managing projects and people. He is also an excellent communicator and enjoys working with others to achieve common goals.',
  dateCreated: new Date('1999-09-09').toISOString(),
  dateModified: new Date().toISOString(),
  about: {
    '@type': 'Thing',
    url: 'https://geert.elt.ink/about/',
    name: 'The Story',
  },
};

const notes = (await getCollection('notes')).sort(
  (a, b) => b.data.started.valueOf() - a.data.started.valueOf()
);
---

<Layout title={schema.name} description={schema.description}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(schema)} is:inline />
  <header transition:animate="slide">
    <h1>I love everything about software engineering and leading teams.</h1>
    <h2 class="text-medium-emphasis">
      A software architect, engineer, and people manager.<br />
      Currently software engineering manager at ottonova.
    </h2>
    <p class="text-medium-emphasis">
      I am passionate about software engineering and leading teams. I have a strong background in
      software development and managing projects and people. I am also an excellent communicator and
      enjoy working with others to achieve common goals.
    </p>
  </header>

  <br />
  <br />

  <div class="notes" transition:animate="slide">
    <h2>Notes</h2>
    <p>
      Loose, unopinionated notes on things that interest me. Notes are evolving over time and
      hopefully improve.
    </p>
    <ul>
      {
        notes.slice(0, 5).map((note) => (
          <li class="h3">
            <a href={`/notes/${note.slug}/`}>{note.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style scoped>
  .notes {
    max-width: 100%;
  }

  @media screen and (min-width: 896px) {
    .notes {
      max-width: 50%;
    }
  }

  .h3 {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid var(--surface-02dp);
    transition: all 0.3s ease-in-out 0s;
  }
  .h3:hover {
    border-bottom: 1px solid var(--secondary-variant);
    transform: scale3d(1.02, 1.02, 1.02);
  }
</style>
