---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
import logo from '../../public/logo.svg';
// const { href, class: className, ...props } = Astro.props;
// const isActive = href === Astro.url.pathname;

const navLinks: { label: string; href: string }[] = [
  { label: 'The Notes', href: '/notes/' },
  { label: 'The Present', href: '/now/' },
  { label: 'The Story', href: '/about/' },
];
---

<header class="page-header pt-3">
  <nav class="container">
    <ul class="flex flex-row flex-align-self-center">
      <li class="flex-grow pr-3">
        <a
          class="text-decoration-none text-primary"
          href="/"
          aria-label="logo"
          style="color: var(--primary); max-width: var(--step-4);"
          title="Geert Eltink, Software engineer and architect"
        >
          <img src={logo.src} width={logo.width} height={logo.height} alt="Geert Eltink logo" />
        </a>
      </li>
      {
        navLinks.map(({ label, href }) => (
          <li class="px-3">
            <a
              aria-current={Astro.url.pathname === href}
              class:list={[
                'h4',
                'text-decoration-none',
                'text-primary',
                {
                  active:
                    Astro.url.pathname === href ||
                    (href !== '/' && Astro.url.pathname.startsWith(href)),
                },
              ]}
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  a {
    display: inline-block;
    text-decoration: none;
  }

  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
