---
// Import the global.css file here so that it is included on
// all pages through the use of the <Head /> component.
import '~/styles/global.css';

export type Props = {
  title?: string;
  description?: string;
  image?: { src: string; alt: string };
  canonicalURL?: URL | undefined;
  frontmatter?: {
    title?: string;
    description?: string;
  };
};

const {
  title,
  description,
  image = { src: '/placeholder-social.jpg', alt: 'Social' },
  canonicalURL = new URL(Astro.request.url, Astro.site),
  frontmatter,
} = Astro.props;

const resolvedTitle = title ?? frontmatter?.title;
const resolvedDescription = description ?? frontmatter?.description;
const resolvedImage = {
  src: new URL(image.src, Astro.site).toString(),
  alt: image.alt,
};
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{resolvedTitle}</title>
<meta name="description" content={resolvedDescription} />
<meta name="author" content="Geert Eltink" />
<meta name="copyright" content="MIT" />
<meta name="generator" content={Astro.generator} />
<meta name="build" content={new Date().toISOString()} />
<meta name="env" content={import.meta.env.MODE} />
<meta name="robots" content="index,follow" />
<meta name="rating" content="General" />

<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
<link rel="sitemap" href={new URL('/sitemap-index.xml', Astro.site)} />
<link
  rel="alternate"
  type="application/rss+xml"
  href={new URL('/feed.xml', Astro.site)}
  title="RSS"
/>
<link rel="icon" type="image/svg+xml" href="/logo.svg" />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={resolvedImage.src} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={resolvedImage.src} />
