---
import CoverImage from '~/components/CoverImage.astro';
import RelativeDate from '~/components/RelativeDate.astro';
import Layout from '~/layouts/Layout.astro';

export interface Props {
  title: string;
  description: string;
  started: Date;
  updated?: Date;
  cover?: string;
  topics?: string[];
}

const { title, description, started, updated, cover, topics } = Astro.props;

const schema = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  mainEntityOfPage: {
    '@type': 'WebPage',
    '@id': new URL(Astro.request.url, Astro.site),
  },
  headline: title,
  description: description,
  datePublished: started.toISOString().substring(0, 10),
  ...(updated && { dateModified: updated.toISOString().substring(0, 10) }),
  ...(topics && { keywords: topics }),
  author: {
    '@type': 'Person',
    name: 'Geert Eltink',
    url: 'https://geert.elt.ink',
  },
};
---

<Layout>
  <article>
    {
      cover && (
        <div class="cover-image">
          <CoverImage src={cover} alt={title} aspectRatio="21:9" />
        </div>
      )
    }
    <header>
      <h1>
        {title}
      </h1>
      <h2 class="text-medium-emphasis">
        {description}
      </h2>
      <div class="mb-3 text-disabled">
        {
          started && (
            <div>
              Planted <RelativeDate date={started} />
            </div>
          )
        }
        {
          updated && (
            <div>
              Last tended <RelativeDate date={updated} />
            </div>
          )
        }
      </div>
    </header>
    <slot />
  </article>
  <script type="application/ld+json" set:html={JSON.stringify(schema)} />
</Layout>

<style>
  .cover-image {
    margin-bottom: 2rem;
  }
</style>
