---
import type { CollectionEntry } from 'astro:content';
import CoverImage from '~/components/CoverImage.astro';
import RelativeDate from '~/components/RelativeDate.vue';
import Layout from '~/layouts/Layout.astro';

interface Props {
  note: CollectionEntry<'notes'>;
  previous?: CollectionEntry<'notes'>;
  next?: CollectionEntry<'notes'>;
}

const { note, previous, next } = Astro.props;

const schema = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  mainEntityOfPage: {
    '@type': 'WebPage',
    '@id': new URL(Astro.request.url, Astro.site),
  },
  headline: note.data.title,
  description: note.data.description,
  datePublished: note.data.started.toISOString(),
  ...(note.data.updated && { dateModified: note.data.updated.toISOString() }),
  ...(note.data.topics && { keywords: note.data.topics }),
  author: {
    '@type': 'Person',
    name: 'Geert Eltink',
    url: 'https://geert.elt.ink',
  },
};
---

<Layout title={note.data.title} description={note.data.description}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(schema)} is:inline />
  <article>
    <header>
      <h1 class="title">
        {note.data.title}
      </h1>
      <h2 class="sub-title text-medium-emphasis">
        {note.data.description}
      </h2>
      <div class="meta">
        <ul class="meta-topics">
          {note.data.topics?.map((topic: string) => <li class="meta-topic">{topic}</li>)}
        </ul>
        <div class="meta-dates">
          {
            note.data.started && (
              <div>
                Published <RelativeDate date={note.data.started} client:visible />
              </div>
            )
          }
          {
            note.data.updated && (
              <div>
                Updated <RelativeDate date={note.data.updated} client:visible />
              </div>
            )
          }
        </div>
      </div>
    </header>
    {
      note.data.cover && (
        <div class="cover-image">
          <CoverImage src={note.data.cover} alt={note.data.title} aspectRatio="21:9" />
        </div>
      )
    }
    <slot />
    <footer>
      <ul class="footer-menu">
        {
          previous ? (
            <li>
              <a href={`/notes/${previous.id}/`}>&laquo; {previous.data.title}</a>
            </li>
          ) : null
        }
        {
          next ? (
            <li style="text-align: right;">
              <a href={`/notes/${next.id}/`}>{next.data.title} &raquo;</a>
            </li>
          ) : null
        }
      </ul>
    </footer>
  </article>
</Layout>

<style scoped>
  .sub-title {
    padding: var(--space-s) 0 var(--space-l);
    border-bottom: 1px solid var(--surface-24dp);
  }

  .meta {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: var(--step--1);
    margin-bottom: var(--space-m);
  }

  .meta-topics {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    max-width: 70%;
    padding: 0px;
    margin-top: var(--space-xs);
  }

  .meta-topic {
    margin-right: var(--space-xs);
    margin-bottom: var(--space-3xs);
  }

  .meta-dates {
    margin-top: var(--space-xs);
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .cover-image {
    margin-bottom: var(--space-m);
  }

  footer {
    margin-bottom: var(--space-m);
  }

  .footer-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    grid-gap: var(--space-s-l);
    overflow: hidden;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
  }
</style>
