---
import CoverImage from '~/components/CoverImage.astro';
import RelativeDate from '~/components/RelativeDate.astro';
import Layout from '~/layouts/Layout.astro';

export interface Props {
  title: string;
  description: string;
  started: Date;
  updated?: Date;
  cover?: string;
}

const { title, description, started, updated, cover } = Astro.props;
---

<Layout>
  <article>
    {
      cover && (
        <div class="cover-image">
          <CoverImage src={cover} alt={title} aspectRatio="21:9" />
        </div>
      )
    }
    <h1>{title}</h1>
    <h2>{description}</h2>
    <div class="mb-3 text-disabled">
      {
        started && (
          <div>
            Planted <RelativeDate date={started} />
          </div>
        )
      }
      {
        updated && (
          <div>
            Last tended <RelativeDate date={updated} />
          </div>
        )
      }
    </div>
    <slot />
  </article>
</Layout>

<style>
  .cover-image {
    margin-bottom: 2rem;
  }
</style>
