---
import type { CollectionEntry } from 'astro:content';
import CoverImage from '~/components/CoverImage.astro';
import RelativeDate from '~/components/RelativeDate.astro';
import Layout from '~/layouts/Layout.astro';

interface Props {
  note: CollectionEntry<'notes'>;
}

const { note } = Astro.props;

const schema = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  mainEntityOfPage: {
    '@type': 'WebPage',
    '@id': new URL(Astro.request.url, Astro.site),
  },
  headline: note.data.title,
  description: note.data.description,
  datePublished: note.data.started.toISOString(),
  ...(note.data.updated && { dateModified: note.data.updated.toISOString() }),
  ...(note.data.topics && { keywords: note.data.topics }),
  author: {
    '@type': 'Person',
    name: 'Geert Eltink',
    url: 'https://geert.elt.ink',
  },
};
---

<Layout title={note.data.title} description={note.data.description}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(schema)} />
  <article>
    <header>
      <h1>
        {note.data.title}
      </h1>
      <h2 class="text-medium-emphasis">
        {note.data.description}
      </h2>
      <div class="mb-3 text-disabled">
        {
          note.data.started && (
            <div>
              Planted <RelativeDate date={note.data.started} />
            </div>
          )
        }
        {
          note.data.updated && (
            <div>
              Last tended <RelativeDate date={note.data.updated} />
            </div>
          )
        }
      </div>
    </header>
    {
      note.data.cover && (
        <div class="cover-image">
          <CoverImage src={note.data.cover} alt={note.data.title} aspectRatio="21:9" />
        </div>
      )
    }
    <slot />
  </article>
</Layout>

<style>
  .cover-image {
    margin-bottom: 2rem;
  }
</style>
